@model Razor.Models.Product

@{
    Layout = null;
  //  ViewBag.Title = "Product Name";
  /*
          <!-- @foreach (Product p in Model) {
            <tr>
                <td>@p.Name</td>
                <td>@($"{p.Price:C2}")</td>
            </tr>
        } -->
  */
} 
<!DOCTYPE html> 
    <html> 
        <head>
            </head> 
    <body>
        Content will go here 
  
<table>
    <thead>
        <tr><th>Name</th><th>Price</th></tr>
    </thead>
    <tbody>

    </tbody>
    <body> Content will go here </body>
</table>
  </body>