@{
Layout =null;
}
<!DOCTYPE h t ml >
<html>
<head>
<meta name="vi ewport" content="width=device-width" />
<title>Index</title>
</head>
<body>
<div>
    @ViewBag.Greetings wordld from the view
    <a asp-action="RsvpForm">RSVP Now</a> 
</div>
</body>
</html> 